* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* TOP BAR */

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#todayDate {
    color: #666;
    font-size: 15px;
}

#darkModeBtn {
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    background: #333;
    color: white;
}


/* STREAK */

.streak-card {
    text-align: center;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.streak-card h2 {
    margin-bottom: 10px;
}

#streakCount {
    font-size: 32px;
    font-weight: bold;
}


/* DARK MODE */

body.dark-mode {
    background: #181818;
    color: white;
}

body.dark-mode .container {
    background: #242424;
}

body.dark-mode .subtitle,
body.dark-mode #todayDate,
body.dark-mode #progressText {
    color: #bbb;
}

body.dark-mode .stat-card,
body.dark-mode .streak-card,
body.dark-mode .habit-item {
    background: #333;
}

body.dark-mode .habit-time {
    color: #bbb;
}

body.dark-mode #darkModeBtn {
    background: white;
    color: #222;
}


/* MOBILE */

@media (max-width: 600px) {

    .top-bar {
        flex-direction: column;
        gap: 10px;
    }

}

body {
    font-family: Arial, sans-serif;
    background: #859290;
    min-height: 100vh;
    padding: 40px 20px;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 40px;

    border-radius: 20px;

    /* Loading border */
    border: 4px solid #ddd;
    border-top-color: #00a88f;

    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);

    animation: loadingBorder 2s linear infinite;
}

h1 {
    text-align: center;
    margin-bottom: 8px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

/* Form */

.habit-form {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.habit-form input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}

#habitInput {
    flex: 1;
}

.habit-form button {
    border: none;
    padding: 12px 18px;
    border-radius: 8px;
    cursor: pointer;
    background: #333;
    color: white;
}

.habit-form button:hover {
    background: #555;
}

/* Progress */

.progress-section {
    margin-bottom: 30px;
}

.progress-section h2,
.habit-section h2 {
    margin-bottom: 15px;
}

.progress-bar {
    width: 100%;
    height: 15px;
    background: #ddd;
    border-radius: 20px;
    overflow: hidden;
}

#progress {
    width: 0%;
    height: 100%;
    background: #4caf50;
    transition: 0.3s;
}

#progressText {
    margin-top: 8px;
    color: #555;
}

/* Habit */

.habit-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 10px;
    background: #f7f7f7;
    border-radius: 10px;
}

.habit-left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.habit-left input {
    width: 20px;
    height: 20px;
}

.habit-name {
    font-size: 17px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

.habit-time {
    color: #777;
    font-size: 14px;
}

.delete-btn {
    border: none;
    background: #e74c3c;
    color: white;
    padding: 7px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.delete-btn:hover {
    background: #c0392b;
}

/* Mobile */

@media (max-width: 600px) {

    .habit-form {
        flex-direction: column;
    }

    .habit-form input,
    .habit-form button {
        width: 100%;
    }

    .habit-item {
        gap: 10px;
    }
}
.clear-btn {
    width: 100%;
    margin-top: 15px;
    padding: 12px;

    border: none;
    border-radius: 8px;

    background: #333;
    color: white;

    cursor: pointer;
    font-size: 15px;
}

.clear-btn:hover {
    background: #555;
}
.buttons {
    display: flex;
    gap: 8px;
}

.edit-btn {
    border: none;
    background: #3498db;
    color: white;

    padding: 7px 10px;

    border-radius: 6px;
    cursor: pointer;
}

.edit-btn:hover {
    background: #2980b9;
}
@keyframes loadingBorder {

    0% {
        border-top-color: #00a88f;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        border-left-color: #ddd;
    }

    25% {
        border-top-color: #ddd;
        border-right-color: #00a88f;
        border-bottom-color: #ddd;
        border-left-color: #ddd;
    }

    50% {
        border-top-color: #ddd;
        border-right-color: #ddd;
        border-bottom-color: #00a88f;
        border-left-color: #ddd;
    }

    75% {
        border-top-color: #ddd;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        border-left-color: #00a88f;
    }

    100% {
        border-top-color: #00a88f;
        border-right-color: #ddd;
        border-bottom-color: #ddd;
        border-left-color: #ddd;
    }
}
/* Statistics */

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 30px;
}

.stat-card {
    background: #f5f5f5;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
}

.stat-card h3 {
    margin-bottom: 10px;
    color: #555;
}

.stat-card p {
    font-size: 30px;
    font-weight: bold;
}


/* Mobile */

@media (max-width: 600px) {

    .stats {
        grid-template-columns: 1fr;
    }

}